<div style="width:700px;margin:50px auto;border:1px solid #e5e5e5;padding: 40px;border-radius:3px;background:white;word-break: break-all;">

<%= link_to "Sign in", '/users/sign_in' %><br />
<%= link_to "Sign up", '/users/sign_up' %><br />

<hr>

<h3>Get token - POST</h3>
<br>
<h4>HTTP Request</h4>
<pre>
https://blooming-plateau-7265.herokuapp.com/sessions
</pre>
<br>
<h4>Request body</h4>
<span class="label label-primary">Params => {"user": {"email": "admin@example.com", "password": "12345678"}}</span>
<table class="table table-bordered">
<thead>
	<tr>
		<th>Property name:</th>
		<th>Description:</th>
		<th>Value:</th>
	</tr>
</thead>
<tr>
	<td>email:</td>
	<td>admin@example.com</td>
	<td>string</td>
</tr>
<tr>
	<td>password:</td>
	<td>12345678</td>
	<td>string</td>
</tr>
</table>
<br>
<h4>Response</h4>

<pre>
{"info":"Logged in","user":{"id":1,"email":"admin@example.com","token":"76e740aecc5ed1e6163e10e91f84f03a","created_at":"2015-03-03T16:09:32.712Z","updated_at":"2015-03-03T18:12:14.166Z"}}
</pre>

<br><br><hr>

<h3>Delete token - DELETE</h3>
<br>
<h4>HTTP Request</h4>
<pre>
https://blooming-plateau-7265.herokuapp.com/sessions/{user_id}?token={token}
</pre>
<br>
<h4>Response</h4>
<pre>
{"info":"Logged out"}
</pre>

<br><br><hr>

<h3>All Articles - GET</h3>
<br>
<pre>
https://blooming-plateau-7265.herokuapp.com/articles/{user_id}?token={token}
</pre>
<br>
<h4>Response</h4>
<pre>
{"info":"authenticated","article":[{"id":4,"title":"test","content":"test","created_at":"2015-03-03T16:30:22.818Z","updated_at":"2015-03-03T16:30:22.818Z","user_id":1},{"id":6,"title":"test123","content":"test","created_at":"2015-03-03T17:31:16.071Z","updated_at":"2015-03-03T17:58:43.953Z","user_id":1},{"id":7,"title":"test","content":"test","created_at":"2015-03-03T17:57:37.855Z","updated_at":"2015-03-03T17:57:37.855Z","user_id":1}]}
</pre>

<br><br><hr>

<h3>A specific article - GET</h3>
<br>
<h4>HTTP Request</h4>
<pre>
	https://blooming-plateau-7265.herokuapp.com/articles/show/{user_id}?token={token}
</pre>
<br>
<h4>Request body</h4>
<span class="label label-primary">Params => {"article": {"id": "1"}}</span>
<table class="table table-bordered">
<thead>
	<tr>
		<th>Property name:</th>
		<th>Description:</th>
		<th>Value:</th>
	</tr>
</thead>
<tr>
	<td>id:</td>
	<td>1</td>
	<td>Integer</td>
</tr>
</table>
<br>
<h4>Response</h4>
<pre>
{"info":"Article showed","article":{"id":6,"title":"test123","content":"test","created_at":"2015-03-03T17:31:16.071Z","updated_at":"2015-03-03T17:58:43.953Z","user_id":1}}
</pre>

<br><br><hr>

<h3>Create an article - POST</h3>
<br>
<h4>HTTP Request</h4>
<pre>
	https://blooming-plateau-7265.herokuapp.com/articles/{user_id}?token={token}
</pre>
<br>
<h4>Request body</h4>
<span class="label label-primary">Params => {"article": {"title": "sometitle", "content": "somecontent"}}</span>
<table class="table table-bordered">
<thead>
	<tr>
		<th>Property name:</th>
		<th>Description:</th>
		<th>Value:</th>
	</tr>
</thead>
<tr>
	<td>title:</td>
	<td>my note</td>
	<td>string</td>
</tr>
<tr>
	<td>content:</td>
	<td>some random content</td>
	<td>string</td>
</tr>
</table>
<br>
<h4>Response</h4>
<pre>
{"info":"Article created"}
</pre>

<br><br><hr>

<h3>Update an article - PUT</h3>
<br>
<h4>HTTP Request</h4>
<pre>
	https://blooming-plateau-7265.herokuapp.com/articles/{user_id}?token={token}
</pre>
<br>
<h4>Request body</h4>
<span class="label label-primary">Params => {"article": {"id": "1", title": "sometitle", "content": "somecontent"}}</span>
<table class="table table-bordered">
<thead>
	<tr>
		<th>Property name:</th>
		<th>Description:</th>
		<th>Value:</th>
	</tr>
</thead>
<tr>
	<td>title:</td>
	<td>my new title</td>
	<td>string</td>
</tr>
<tr>
	<td>content:</td>
	<td>some new content</td>
	<td>string</td>
</tr>
</table>
<br>
<h4>Response</h4>
<pre>
{"info":"Article updated","article":{"id":6,"title":"test","content":"some","created_at":"2015-03-03T17:31:16.071Z","updated_at":"2015-03-03T19:35:01.574Z","user_id":1}}
</pre>

<br><br><hr>

<h3>Destroy an article - DELETE</h3>
<br>
<h4>HTTP Request</h4>
<pre>
	https://blooming-plateau-7265.herokuapp.com/articles/{user_id}?token={token}
</pre>
<br>
<h4>Request body</h4>
<span class="label label-primary">Params => {"article": {"id": "1"}}</span>
<table class="table table-bordered">
<thead>
	<tr>
		<th>Property name:</th>
		<th>Description:</th>
		<th>Value:</th>
	</tr>
</thead>
<tr>
	<td>id:</td>
	<td>1</td>
	<td>Integer</td>
</tr>
</table>
<br>
<h4>Response</h4>
<pre>
{"info":"Article destroyed"}
</pre>





</div>