<div style="width:500px;margin:50px auto;border:1px solid #e5e5e5;padding: 40px;border-radius:3px;background:white;">
<h3><%= link_to 'back', root_path %></h3>

	<h5><%= @article.title %></h5>
	<hr>
	<p><%= @article.content %></p>

</div>